
<div class="row">
    <div class="six columns center">
        By {{this.artist.name}}
    </div>
    <div class="six columns center">
        <a href={{this.license.url}}>License {{this.license.name}}</a>
    </div>
</div>