<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Example App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <link type="text/css" rel="stylesheet" href="/styles/styles.css" />
    </head>
    <div class="container">
        <body>
            {{>header}}
            {{{body}}}
            {{>footer}}
        </body>
    </div>
</html>